<h1>Rotten Mangoes</h1>
<%= paginate @movies%>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
  <%= render "search_form"%>
<hr>
<div class="container">
  <% @movies.each_slice(3) do |movie_slice| %>
    <div class="row">
      <% movie_slice.each do |movie| %>
        <div class="col-md-4">
          <div class="movie_list_item">
            <%= render partial: 'movie', locals: {movie: movie} %>            
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @movies%>