<%= render partial: 'layouts/validation_errors', locals: {object: @user} %>
<%= form_for [:admin, @user] do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.label :admin, "Set as admin" %>
    <%= f.check_box :admin %>
  </div>
  <div><%= f.submit "Submit" %></div>
<% end %>
